<div class="container-fluid grey attractions">
    <div class="container">
        <div class="row">
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_133142139">
                    <h4>Фото интерактивы</h4>
                    <a href="#">12 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item.jpg" alt="">
                </div>
            </div>
            <!---->
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_15562196">
                    <h4>Футбольные развлечения</h4>
                    <a href="#">48 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item2.jpg" alt="">
                </div>
            </div>
            <!---->
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_23885141">
                    <h4>VR аттракционы</h4>
                    <a href="#">10 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item3.jpg" alt="">
                </div>
            </div>
            <!---->
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_23812785">
                    <h4>Радиоуправляемый мир</h4>
                    <a href="#">25 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item4.jpg" alt="">
                </div>
            </div>
            <!---->
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_25521085">
                    <h4>Приставки и симуляторы</h4>
                    <a href="#">32 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item5.jpg" alt="">
                </div>
            </div>
            <!---->
            <div class="col-md-4 row item">
                <div class="col-md-6 info ground_41170115">
                    <h4>Выездные игры</h4>
                    <a href="#">24 вариантов</a>
                </div>
                <div class="col-md-6">
                    <img src="img/item6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#" class="see-all">Смотреть все</a>
        </div>
    </div>
    <img src="img/7.svg" alt="" class="asset4">
    <img src="img/8.svg" alt="" class="asset3">
    <img src="img/6.svg" alt="" class="asset5">
</div>