<div class="container-fluid big-banner">
    <div class="container">
        <div class="content">
            <h4>НАДЁЖНЫЕ И КОМФОРТНЫЕ</h4>
            <h2>Шатры Пагода в аренду</h2>
            <p>
                Спасут Вас от жары и непогоды!
            </p>
            <a href="#">Отправить заявку</a>
        </div>

        <div class="navigation">
            <a href="#" class="left"><img src="../img/slider-arrow-icon.svg" alt=""></a>
            <a href="#" class="right"><img src="../img/slider-arrow-icon.svg" alt=""></a>
        </div>

        <ul class="dots">
            <li></li>
            <li></li>
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>