<div class="container-fluid clients">
    <div class="container">
        <div class="title">
            <img src="img/clients_title.svg" alt="">
            <div class="navigation">
                <a href="#" class="left"><img src="../img/arrow-icon.svg" alt=""></a>
                <a href="#" class="right"><img src="../img/arrow-icon.svg" alt=""></a>
            </div>
        </div>
        <div class="slider">
            <a href="#"><img src="img/danone-logo.jpg" alt=""></a>
            <a href="#"><img src="img/guinness-logo.jpg" alt=""></a>
            <a href="#"><img src="img/hewlett-packard.jpg" alt=""></a>
            <a href="#"><img src="img/lifecell.jpg" alt=""></a>
            <a href="#"><img src="img/logo-stb.jpg" alt=""></a>
            <a href="#"><img src="img/silpo.jpg" alt=""></a>
        </div>
    </div>
    <div class="container info">
        <div class="left">
            <img src="img/logo.png" alt="">
            <h4>Приветствует вас!</h4>
            <div class="hide-text hide">
            <p>
                Меня зовут Андрей Кобылинский. С 2007 года основанная мною компания «Батут»
                помогает взрослым почувствовать себя детьми, ну а маленьким детям – весело проводить время за необычными активностями.
            </p>
            <p>
                Корпоративы и детские дни рождения, дни села и городские праздники, выставки и промоакции, family days и спартакиады, фестивали и тимбилдинги, день защиты детей или день металлурга, – эти праздники не обходились без наших интерактивных аттракционов. За 12 лет мы доставили счастье во все уголки нашей страны, успешно проведя десятки тысяч мероприятий.
            </p>
            <p>
                Не секрет, что большинство наших заказчиков – организаторы мероприятий.
                За эти годы нам удалось вывести успешную формулу сотрудничества. Она проста:
            </p>
            <p>
                – быстрая реакция на запрос <br>
                – аттракционы такие же красивые, как на фотографиях <br>
                – доставка на место очень и очень заранее <br>
                – обслуживающий персонал выглядит адекватно уровню мероприятия <br>
            </p>
            <p>
                Я рад, что когда-то нашел этот интересный «бизнес в стиле fun». И, конечно, мы постараемся, чтобы вы и ваши гости тоже остались довольны.
            </p>
            <p>
                О том, как правильно подобрать аттракцион на праздник, мы рассказываем здесь
                На что обратить внимание при аренде надувного батута, можно прочитать тут
            </p>
            </div>
            <a href="#" class="show-more">Развернуть текст <img src="img/arrow-down-icon.svg" alt=""></a>
        </div>
        <div class="center">
            <img src="img/i-phone-x-clay-black.jpg" alt="">
        </div>
        <div class="right">
            <div class="space"></div>
            <h4>Давайте дружить :)</h4>
            <p>Не упускайте ничего важного!
                Подписывайтесь на наш instagram,
                youtube канал, а также на viber канал и будьте в курсе самых ярких и современных организаций развлечений.
            </p>
            <div class="social">
                <a href="#"><img src="img/instagram-icon.svg" alt=""></a>
                <a href="#"><img src="img/youtube-icon.svg" alt=""></a>
                <a href="#"><img src="img/viber-icon.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>