<div class="container-fluid grey events">
    <div class="container">
        <div class="row">
            <img src="img/event_title.svg" alt="">
        </div>
        <div class="row">
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Новый год</h4>
                    <img src="img/event1.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>День защитника</h4>
                    <img src="img/event2.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Тест драйв</h4>
                    <img src="img/event3.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>День рождения</h4>
                    <img src="img/event4.png" alt="">
                </a>
            </div>
            <!---->
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Промо акции</h4>
                    <img src="img/event5.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Сдача норм ОФП</h4>
                    <img src="img/event6.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Спортивный праздник</h4>
                    <img src="img/event7.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Корпоратив</h4>
                    <img src="img/event8.png" alt="">
                </a>
            </div>
            <!---->
            <div class="col-md-3 item">
                <a href="#">
                    <h4>BTL акцииакции</h4>
                    <img src="img/event9.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>День семьи</h4>
                    <img src="img/event10.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Конференция</h4>
                    <img src="img/event11.png" alt="">
                </a>
            </div>
            <div class="col-md-3 item">
                <a href="#">
                    <h4>Масленица</h4>
                    <img src="img/event12.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <img src="img/7.svg" alt="" class="asset8">
    <img src="img/8.svg" alt="" class="asset9">
    <img src="img/1.svg" alt="" class="asset10">
    <img src="img/3.svg" alt="" class="asset11">
    <img src="img/10.svg" alt="" class="asset12">
</div>