<div class="container-fluid grey footer">
    <div class="container">
        <div class="top">
            <ul class="menu">
                <li class="sub"><a href="#">Каталог</a></li>
                <li class="sub"><a href="#">Новинки</a></li>
                <li class="sub"><a href="#">Тимбилдинг</a></li>
                <li class="sub"><a href="#">Фан-казино</a></li>
                <li class="sub"><a href="#">Поводы</a></li>
                <li><a href="#">Агенствам</a></li>
                <li><a href="#">Почему мы</a></li>
                <li><a href="#">Конатакты</a></li>
            </ul>
            <input type="text" placeholder="Поиск">
        </div>
    </div>
    <div class="container bottom">
        <div class="col-md-6">
            <img src="img/logo.png" alt="">
            <p>
                © 2007-2019 batut.com.ua <br>
                Develop by SoftGroup 2019
            </p>
        </div>    
        <div class="col-md-6 row">
            <div class="social">
                <a href="#"><img src="img/instagram-icon.svg" alt=""></a>
                <a href="#"><img src="img/youtube-icon.svg" alt=""></a>
                <a href="#"><img src="img/viber-icon.svg" alt=""></a>
            </div>
            <div class="col-md-4 row">
                <div class="get_call">
                    <a href="#"><img src="img/call-answer-icon.svg" alt="Заказать звонок">Заказать звонок</a>
                </div>
                <div class="phone_numbers">
                    <p>(044) 361-51-71</p>
                    <p>(050) 924-20-59</p>
                </div>
            </div>
        </div>
    </div>
</div>