<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo">
                <img src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x">
                <p>
                    Аттракционы и батуты
                    в аренду для праздников
                    по Киеву и Украине
                </p>
            </div>
            <div class="col-md-4">
                <input type="search" placeholder="Поиск" class="search">
            </div>
            <div class="col-md-4">
                <div class="get_call">
                    <a href="#"><img src="img/call-answer-icon.svg" alt="Заказать звонок">Заказать звонок</a>
                </div>
                <div class="phone_numbers">
                    <p>(044) 361-51-71</p>
                    <p>(050) 924-20-59</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <div class="container">
        <ul class="menu">
            <li class="sub"><a href="#">Каталог</a></li>
            <li class="sub"><a href="#">Новинки</a></li>
            <li class="sub"><a href="#">Тимбилдинг</a></li>
            <li class="sub"><a href="#">Фан-казино</a></li>
            <li class="sub"><a href="#">Поводы</a></li>
            <li><a href="#">Агенствам</a></li>
            <li><a href="#">Почему мы</a></li>
            <li><a href="#">Конатакты</a></li>
        </ul>
    </div>
</div>