<div class="container-fluid novelty">
    <div class="container">
        <div class="row">
            <img src="img/title.svg" alt="">
        </div>
        <div class="row">
            <div class="col-md-4 item">
                <img src="img/novelty_image1.jpg" alt="">
                <h4>Фотокинект</h4>
                <div class="actions">
                    <a href="#" class="order">Заказать</a>
                    <a href="#" class="detail">Подробнее</a>
                </div>
            </div>
            <!---->
            <div class="col-md-4 item">
                <img src="img/novelty_image2.jpg" alt="">
                <h4>Терминал для зарядки телефона</h4>
                <div class="actions">
                    <a href="#" class="order">Заказать</a>
                    <a href="#" class="detail">Подробнее</a>
                </div>
            </div>
            <!---->
            <div class="col-md-4 item">
                <img src="img/novelty_image3.jpg" alt="">
                <h4>Инстапринтер</h4>
                <div class="actions">
                    <a href="#" class="order">Заказать</a>
                    <a href="#" class="detail">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <img src="img/8.svg" alt="" class="asset6">
    <img src="img/8.svg" alt="" class="asset7">
</div>