<div class="container-fluid grey reviews">
    <div class="container">
        <div class="title">
            <div class="pic">
                <img src="img/reviews.svg" alt="">
            </div>
            <div class="persons">
                <img src="img/thumb1.jpg" alt="">
                <img src="img/thumb2.jpg" alt="">
                <img src="img/thumb3.jpg" alt="">
                <img src="img/thumb4.jpg" alt="">
                <img src="img/thumb5.jpg" alt="">
                <img src="img/thumb6.jpg" alt="" class="active">
                <img src="img/thumb7.jpg" alt="">
                <img src="img/thumb8.jpg" alt="">
                <img src="img/thumb9.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="agency">
            <div class="pic">
                <img src="img/thumb6.jpg" alt="">
            </div>
            <div class="text">
                <h4>
                    Агенство “Глория”
                </h4>
                <p>
                    Здравствуйте, мы ивент-агентство "Глория". Мы часто предлагаем нашим заказчикам различные активности компании "Игры для праздника", поскольку уверенны, что ребята привезут много интересных и веселых игр, которые гарантировано подарят хорошее настроение нашим гостям и никто не будет скучать. Мы рекомендуем компанию "Игры для праздника".
                </p>
                <div class="navigation">
                    <a href="#" class="left"><img src="../img/arrow-icon.svg" alt=""></a>
                    <a href="#" class="right"><img src="../img/arrow-icon.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <img src="img/9.svg" alt="" class="asset18">
    <img src="img/8.svg" alt="" class="asset19">
    <img src="img/3.svg" alt="" class="asset20">
</div>