<div class="container-fluid team-building">
    <div class="container">
        <div class="row top">
            <div class="col-md-6">
                <img src="img/team.png" alt="">
            </div>
            <div class="col-md-6">
                <img src="img/team_title.svg" alt="" class="team-title">
                <div class="row">
                    <div class="item col-md-4">
                        <img src="img/hot-air-balloon-icon.svg" alt="">
                        <p>Оборудование</p>
                    </div>
                    <div class="item col-md-4">
                        <img src="img/ferris-wheel-icon.svg" alt="">
                        <p>Аттракционы</p>
                    </div>
                    <div class="item col-md-4">
                        <img src="img/archery-icon.svg" alt="">
                        <p>Задания</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row plane">
            <div class="row">
                <div class="col-md-12">
                    <h2>Готовые решения тимбилдинга</h2>
                    <div class="navigation">
                        <a href="#" class="left"><img src="../img/slider-arrow-icon.svg" alt=""></a>
                        <a href="#" class="right"><img src="../img/slider-arrow-icon.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 item">
                    <a href="#">
                        <img src="img/team_item1.png" alt="">
                        <h4>Время первых XL</h4>
                        <div>
                            <a class="order" href="#">Заказать</a>
                            <a class="details" href="#">Подробнее</a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">
                        <img src="img/team_item2.png" alt="">
                        <h4>Время первых L</h4>
                        <div>
                            <a class="order" href="#">Заказать</a>
                            <a class="details" href="#">Подробнее</a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 item">
                    <a href="#">
                        <img src="img/team_item3.png" alt="">
                        <h4>Время первых M</h4>
                        <div>
                            <a class="order" href="#">Заказать</a>
                            <a class="details" href="#">Подробнее</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img src="img/8.svg" alt="" class="asset13">
    <img src="img/8.svg" alt="" class="asset14">
    <img src="img/8.svg" alt="" class="asset15">
    <img src="img/8.svg" alt="" class="asset16">
    <img src="img/3.svg" alt="" class="asset17">
</div>