.container-fluid{
  position: relative;
}

.asset1{
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 121px;
  left: 50%;
  top: calc(50% - 50px);
}
.asset2{
  position: absolute;
  z-index:-1;
  right: 10%;
  top:calc(50% - 50px);
}

.asset3{
  position: absolute;
  z-index:1;
  left: 2%;
  top: 25%;
}

.asset4{
  position: absolute;
  z-index:0;
  top: -16px;
  right: 30%;
}

.asset5{
  position: absolute;
  z-index:0;
  bottom: 10%;
  right: 5%;
}

.asset6{
  position: absolute;
  z-index:0;
  left: 8%;
  top:35%;
}

.asset7{
  position: absolute;
  z-index:0;
  right:8%;
  top:60%;
}

.asset8{
  position: absolute;
  z-index:0;
  top:3%;
  right: 40%;
}

.asset9{
  position: absolute;
  z-index:0;
  top:40%;
  right: 4%;
}

.asset10{
  position: absolute;
  z-index:0;
  top:10%;
  left: -30px;
}

.asset11{
   position: absolute;
   z-index:0;
   bottom:40%;
   left: 5%;
 }

.asset12{
  position: absolute;
  z-index:0;
  bottom:5%;
  left: 1%;
}